.create-listing-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-top: 125px;
	margin-left: 150px;
}

.breadcrumbs {
	padding: 10px;
}

.create-listing-landing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 860px;
	max-width: 1220px;
	background-color: #ffffff;

	border-radius: 10px;
	margin-bottom: 125px;
}

.listing-image-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

.listing-info-container {
	display: flex;
	flex-direction: column;

	gap: 25px;
	padding: 24px;
	width: 100%;
	border-radius: 0px 10px 10px 0px;
	background-color: #f7f7f7;
	overflow: visible;
}

.post-button {
	width: 645px;
	height: 65px;
	color: #ffffff;
	background-color: #d9d9d9;
	border-radius: 100px;
	border: none;
	filter: drop-shadow(0px 4px 12px (0, 0, 0, 0.25));
	cursor: pointer;
}

.cancel-listing-button {
	width: 645px;
	height: 65px;
	background-color: #ffffff;
	color: #969696;
	border-radius: 100px;
	border: 1px solid #969696;
	filter: drop-shadow(0px 4px 12px (0, 0, 0, 0.25));
	cursor: pointer;
}

.description-text-area {
	height: 90px;
	width: 100%;
	border-radius: 4px;
	padding: 16px 10px 16px 10px;
	border: solid #e2e2e2 1px;
	resize: none;
	overflow: scroll;
	color: #4d4d4d;
}

.description-text-area::placeholder {
	color: #4d4d4d;
}

.description-text-area::-webkit-scrollbar {
	display: none;
}

.create-listing-categories {
	height: 50px;
	width: 100%;
	border-radius: 4px;
	border: solid #e2e2e2 1px;
	padding: 14px 10px 14px 10px;
	color: #4d4d4d;
}

.create-listing-categories:invalid {
	color: rgba(77, 77, 77, 0.4);
}

.create-listing-categories::placeholder {
	color: rgba(77, 77, 77, 0.4);
}

.condition-input,
.price-input {
	height: 50px;
	width: 315px;
	border-radius: 4px;
	border: solid #e2e2e2 1px;
	padding: 14px 10px 14px 10px;
	color: #4d4d4d;
}

.condition-input:invalid {
	color: rgba(77, 77, 77, 0.4);
}

.price-input::placeholder {
	color: rgba(77, 77, 77, 0.4);
}

.condition-price-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.main-listing-img {
	height: 320px;
	width: 480px;
	object-fit: inherit;
	border-radius: 6px;
	margin-bottom: 12px;
	cursor: pointer;
}

.load-pic {
	height: 100px;
	width: 100px;
	border-radius: 6px;
	margin: 0;
}
.mini-image-box {
	display: flex;
	gap: 24px;
}

.image-upload > input {
	visibility: hidden;
	width: 0;
	height: 0;
}
