.Login-Portal {
	background-image: url('../../assets/Clouds.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #6318af;
	height: 1200px;
	width: 2100px;
	position: fixed;
}

.intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 15px;

	position: absolute;
	width: 250px;
	height: 100px;
	left: 850px;
	top: 350px;
}

.bottom-text {
	/* Find out more about us! Visit our website */

	position: absolute;
	width: 300px;
	height: 20px;
	left: -700px;
	top: 700px;

	/* Titles and important things */

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */

	text-align: center;
	color: #ffffff;
}

.site-link {
	padding: 0.5em;
	text-decoration: none;
	color: #ffba00;
}

.login-button {
	padding: 5% 0 5% 0;
	background: #ffba00;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	width: 300px;
	height: 65px;
	font-weight: bold;
}

.create-button {
	padding: 5% 0 5% 0;
	text-align: center;
	color: #ffffff;
	background: #6318af;
	border-radius: 100px;
	width: 300px;
	height: 65px;
	border: none;
	font-weight: bold;
}

.modal {
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: #ffffff;
	border-radius: 10px;

	width: 1400px;
	height: 700px;
}
