.login-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.darkBG {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.login-modal {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 810px;
	height: 615px;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;

	padding: 100px 133px 100px 133px;
}

.close-button-login {
	border: none;
	background: none;
	position: fixed;
	cursor: pointer;
	transform: translate(620px, -75px);
}

.login-modal-button {
	color: #ffffff;
	background: rgba(255, 186, 0, 1);
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 100px;
	height: 64px;
	width: 345px;
	align-self: center;
	transition: background 0.9s ease-in-out;
	cursor: pointer;
}

.login-modal-button:disabled {
	background: rgba(217, 217, 217, 1);
}
