.deals-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	height: 110%;
	border-radius: 5px;
}

.deals-info-label {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
	background: #ffffff;
	border-radius: 15px;
	border: none;
	margin: 5px;
	height: 350px;
	min-height: 350px;
	min-width: 240px;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.deals-bottom-card-info {
	padding: 0px 10px 25px 10px;
}

.deals-slider-title {
	text-decoration: none;
	size: 20px;
	margin: 10px;
	color: #000000;
}

.deals-product-img {
	object-fit: cover;
	min-height: 235px;
	max-height: 250px;
	min-width: 235px;
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
