.account-info-container {
	height: 100vh;
	padding-top: 130px;
	margin-left: 150px;
	padding-bottom: 190px;
}
.breadcrumbs {
	padding: 10px;
}

.account-info-landing {
	height: 560px;
	width: 80vw;
	min-width: 1260px;
	background-color: #ffffff;
	padding: 16px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.save-button {
	min-width: 400px;
	height: 50px;
	color: #ffffff;
	background-color: #ffba00;
	border-radius: 100px;
	border: none;
	filter: drop-shadow(4px 4px 8px (0, 0, 0, 0.15));
	margin-bottom: 0px;
	cursor: pointer;
}

.account-form-container {
	display: flex;
	flex-direction: row;
	gap: 160px;
	padding: 60px 140px 60px 140px;
}

<<<<<<< HEAD
.left-side-form,
.right-side-form {
	width: 550px;
=======
.left-side-form {
	min-width: 400px;
	width: 530px;
>>>>>>> main
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 25px;
	background-color: #f7f7f7;
	border-radius: 0px 10px 10px 0px;
	padding: 15px;
}
.right-side-forms {
	min-width: 400px;
	width: 530px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	background-color: #f7f7f7;
	border-radius: 0px 10px 10px 0px;
	padding: 5px;
}

.account-input {
	border-radius: 4px;
	border: solid #e2e2e2 1px;
	color: #4d4d4d;
	height: 51px;
	width: 100%;
	padding: 16px 10px 16px 10px;
}

<<<<<<< HEAD
.account-input-city {
	border-radius: 4px;
	border: solid #e2e2e2 1px;
	color: #4d4d4d;
	height: 51px;
	width: 237px;
	padding: 16px 10px 16px 10px;
}

=======
>>>>>>> main
.account-input::placeholder {
	color: #4d4d4d;
	opacity: 40%;
}

.city-province {
	display: flex;
	flex-direction: row;
	gap: 24px;
}
