.drop-container {
	background-color: #ffffff;
	margin-top: 15px;
	padding: 20px 20px 20px 20px;
	width: 330px;
	height: 600px;
	border-radius: 4px;
	position: absolute;
	z-index: 3;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.drop-container:after {
	content: ' ';
	position: absolute;
	left: 30px;
	top: -10px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid #ffffff;
}

.title-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.drop-nav-links {
	text-decoration: none;
	color: #313131;
	font-weight: 400;
	box-shadow: inset 0 0 0 0 #6318af;
	border-radius: 10px;
	padding-left: 2px;
	transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.drop-nav-links:hover {
	box-shadow: inset 300px 0 0 0 #f7f7f7;
	border-radius: 10px;
	overflow: hidden;
	color: #6318af;
}

.bottom-drop-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	text-decoration: none;
	color: #ff3131;
	border: none;
	background: none;
}

.bottom-drop-links:hover {
	transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
	overflow: hidden;
	color: #6318af;
}

.profile-icon {
	color: #ffffff;
	background-color: #560f9f;
	height: 40px;
	width: 40px;
	border-radius: 200px;
	text-align: center;
	padding-top: 8px;
}

.settings-links,
.help-links {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	gap: 16px;
	margin-bottom: 70px;
}
