.success-layout {
	background-image: url('../../assets/Clouds.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #6318af;
	height: 110vh;
	width: 110vw;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

.animation {
	max-height: 300px;
	max-width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}
