.darkBG {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.password-modal-container {
	padding: 25px;
	width: 810px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	border-radius: 10px;
}

.pw-back-button,
.pw-close-button {
	background: none;
	border: none;
	cursor: pointer;
}

.text-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	padding: 0px 50px 100px 50px;
}

.requirement {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-weight: 400;
}

.requirement-box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.checkbox {
	height: 25px;
	width: 25px;
	border-color: #9349de;
	transition: all 0.5s ease;
	cursor: pointer;
}

.checkbox-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.create-button2 {
	position: relative;
	left: 25%;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #ffffff;
	background: #6318af;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 100px;
	width: 345px;
	height: 65px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.create-button2:disabled {
	transition: 0.7s;
	background: #d9d9d9;
}
