.home-dashboard {
	background-color: #e5e5e5;
	width: 99vw;
}

.download-app-add {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 100px;
}

.slider {
	width: 87%;
	padding: 20px 16px 20px 16px;
	border-radius: 5px 5px 5px 5px;
	margin: 0;
	background: #ffffff;
	margin-left: 150px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.mini-slider-container {
	margin-left: 150px;
	width: 86vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}
.mini-slider {
	height: 100%;
	width: 49.5%;
	padding: 20px 16px 20px 16px;
	border-radius: 5px;
	margin: 0;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 20px 0 20px;
}

.search-result-item {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
