.card {
	width: 235px;
	height: 345px;
	margin-left: 16px;
	margin-bottom: 36px;
	filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));

	/* Void white */

	background: #ffffff;
	border-radius: 5px;
	border-radius: 0px 0px 10px 10px;
	border: none;
}

.info-label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 235px;
	height: 105px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}
