.notification-container {
	background-color: #ffffff;
	margin-top: 15px;
	padding: 0px 0px 20px 0px;
	width: 380px;
	min-height: 485px;
	border-radius: 4px;
	position: absolute;
	transform: translate(-340px, 0px);
	z-index: 3;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.notification-container:after {
	content: ' ';
	position: absolute;
	right: 10px;
	top: -10px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid #ffffff;
}

.mini-logo {
	height: 60px;
	width: 60px;
	object-fit: contain;
	background-color: #6318af;
	padding: 10px;
	border-radius: 60px;
}

.note-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	padding: 18px 15px 18px 15px;
	background-color: #f7f7f7;
	filter: drop-shadow(1px 2px rgba(0, 0, 0, 0.25));
}

.notification-box {
	display: flex;
	flex-direction: column;
}
