.product-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-top: 125px;
	margin-left: 150px;
}

.breadcrumbs {
	padding: 10px;
}

.product-landing {
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 575px;
	width: 80vw;
	background-color: #ffffff;
	padding: 32px 138px 32px 16px;
	border-radius: 10px;
	margin-bottom: 190px;
}

.vert-image-slider {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.vert-cat-pic {
	height: 123px;
	width: 118px;
	border-radius: 10px;
}

.main-img {
	height: 493px;
	width: 648px;
	border-radius: 10px;
	margin-right: 160px;
}

.price-info {
	display: flex;
	flex-direction: row;
}

.new-price-label {
	color: #194905;
	background-color: #c2eec1;
	font-size: 12px;
	height: 16px;
	width: 40px;
	text-align: center;
}

.checkout-button {
	width: 535px;
	height: 65px;
	color: #ffffff;
	background-color: #6318af;
	border-radius: 100px;
	border: none;
	filter: drop-shadow(4px 4px 8px (0, 0, 0, 0.15));
}

.product-seller-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
}

.seller-details {
	display: flex;
	flex-direction: column;
}

.seller-listings {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.vert-down-arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.vert-down-arrow,
.vert-up-arrow {
	background: none;
	border: none;
}
