.mini-slider1 {
	height: 435px;
	width: 49%;
	background: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 40px;
	padding: 40px 30px 40px 30px;
}

.cat-pics::-webkit-scrollbar {
	display: none;
}

.cat-pics {
	padding: 20px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	overflow-x: scroll;
}

.cat-image {
	max-height: 175px;
	max-width: 175px;
	border-radius: 10px;
}

.bottom-explore-link {
	text-align: right;
	color: #9349de;
}
