.bottom-card-info {
	padding: 0px 10px 25px 10px;
}

.mini-slider-title {
	text-decoration: none;
	size: 20px;
	margin: 10px;
	color: #000000;
}

.mini-card-container {
	overflow: scroll;
	display: flex;
	flex-direction: row;
	gap: 25px;
	height: 425px;
	border-radius: 5px;
}

.mini-card-container::-webkit-scrollbar {
	display: none;
}

.mini-product-img {
	object-fit: cover;
	max-height: 235px;
	min-width: 240px;
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.mini-info-label {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
	background: #ffffff;
	border-radius: 15px;
	border: none;
	margin: 5px;
	height: 350px;
	min-height: 350px;
	min-width: 240px;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
