.mini-slider1 {
	height: 485px;
	width: 50%;
	background: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 40px;
	padding: 40px 30px 40px 30px;
}

/* .cat-pics {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
	gap: 20px;
} */

/* .cat-image {
	height: 200px;
	width: 200px;
	border-radius: 10px;
} */
