.header {
	min-height: 220px;
	width: 100vw;
	background-color: #6318af;
	padding: 25px 0px 0px 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 80px;
	width: 1920px;
	height: 129px;
}

.search-bar {
	height: 75px;
	width: 935px;
	border-radius: 8px;
}

.search-bar-categories {
	padding-right: 350px;
	color: #ffffff;
	size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
	list-style-type: none;
}

.account-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.profile-dropdown {
	display: flex;
	flex-direction: column;
}

.profile-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: none;
	border: none;
	gap: 5px;
	color: #ffba00;
}

.create-listing-button {
	height: 50px;
	width: 145px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: #ffba00;
	border-radius: 100px;
	border: none;
	width: 180px;
}
