/* .carousel-container {
	width: 100%;
	display: flex;
	flex-direction: column;
} */

/* .carousel-wrapper {
	display: flex;
	width: 100%;
	position: relative;
} */

/* .carousel-content-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
} */

.carousel-content {
	display: flex;
	translate: 4rem;
}
