.requirement {
	vertical-align: middle;
}

body {
	background: #ffffff;
	border-radius: 10px;
}

.modal-password {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;

	background: #ffffff;
	border-radius: 10px;
}

.modal-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 0px 0px 100px;

	position: relative;
	width: 80%;
	height: 100%;
}

.password-modal-container {
	min-width: 810px;
	min-height: 875px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0px 10% 0% 10%;

	background: #ffffff;
	border-radius: 10px;
}

.password-form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.darkBG {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.password-form {
	display: flex;
	flex-direction: column;
	padding: 10% 10%;
}

.input-style1 {
	background: #ffffff;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	width: 100%;
	height: 50px;
}

.fa-eye {
	position: absolute;
	cursor: pointer;
	color: lightgray;
	transform: translate(-2rem, 0rem);
	scale: 1.25;
}

.fa-eye-slash {
	position: absolute;
	cursor: pointer;
	color: lightgray;
	transform: translate(-2rem, 0rem);
	scale: 1.25;
}

.password-box {
	display: flex;
	flex-direction: row;
}

.nav-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

.create-button2 {
	position: relative;
	left: 25%;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #ffffff;
	background: #6318af;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 100px;
	width: 300px;
	height: 65px;
	border: none;
	font-weight: bold;
}

.back-button {
	background-color: #ffffff;
	border: none;
	margin-left: -110px;
}

.close-button {
	background-color: #ffffff;
	border: none;
	margin-right: -110px;
}
