.requirement {
	vertical-align: middle;
}

body {
	background: #ffffff;
	border-radius: 10px;
}

.modal-password {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;

	background: #ffffff;
	border-radius: 10px;
}

.modal-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 0px 0px 100px;

	position: relative;
	width: 80%;
	height: 100%;
}

.password-modal-container {
	width: 810px;
	height: 875px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 0px 10% 0% 10%;
	background: #ffffff;
	border-radius: 10px;
}

.darkBG {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.password-form {
	display: flex;
	flex-direction: column;
	padding: 10% 10%;
}

.input-style1 {
	background: #ffffff;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	width: 100%;
	height: 50px;
}

.fa-eye {
	position: absolute;
	cursor: pointer;
	color: lightgray;
	transform: translate(385px, -40px);
	scale: 1.25;
}

.fa-eye-slash {
	position: absolute;
	cursor: pointer;
	color: lightgray;
	transform: translate(385px, -40px);
	scale: 1.25;
}
