.card-container {
	flex-wrap: wrap;
	gap: 25px;
	height: 120%;
	min-height: 475px;
	border-radius: 5px;
}

.cat-info-label {
	filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
	background: #ffffff;
	border-radius: 15px;
	border: none;
	margin: 5px;
	height: 425px;
	min-height: 425px;
	min-width: 225px;
	width: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom-card-info {
	padding: 0px 10px 25px 10px;
}

.slider-title {
	text-decoration: none;
	size: 20px;
	margin: 10px;
	color: #000000;
}

.product-img {
	object-fit: cover;
	min-height: 235px;
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
