.search-bar-categories {
	color: #ffffff;
	size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
	list-style-type: none;
	padding-right: 100px;
}

.nav-category-button {
	background: none;
	border: none;
	size: 20px;
	color: #ffffff;
}
