.slider {
	position: relative;
	top: 250px;
	left: 50px;
	padding: 25px 10px;

	width: 95%;
	height: 475px;

	background: #ffffff;
}

.slider-title {
	width: 128px;
	height: 27px;
	margin-left: 16px;
	/* Web text */

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;

	/* Title Gray */

	color: #313131;
}

.cards {
	display: flex;
	flex-direction: row;
	gap: 35px;
}
