.pickup-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-top: 125px;
	margin-left: 150px;
	height: 100vh;
	width: 100vw;
}

.breadcrumbs {
	padding: 10px;
}

.pickup-landing {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 375px;
	width: 527px;
	background-color: #ffffff;
	padding: 70px 16px 70px 16px;
	border-radius: 10px;
	margin-bottom: 190px;
	box-shadow: (4px 4px 8px (0, 0, 0, 0.15));
}

.price-info {
	display: flex;
	flex-direction: row;
}

.checkout-button1 {
	width: 495px;
	height: 65px;
	color: #9349de;
	background-color: #e9dbf8;

	border-radius: 100px;
	border: none;
	cursor: pointer;
	filter: drop-shadow(4px 4px 8px (0, 0, 0, 0.15));
}

.product-seller-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
}

.seller-details {
	display: flex;
	flex-direction: column;
}

.seller-listings {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.checkout-item-box {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.checkout-item-detail {
	display: flex;
	flex-direction: column;
}

.profile-icon {
	color: #ffffff;
	background-color: #560f9f;
	height: 40px;
	width: 40px;
	border-radius: 200px;
	text-align: center;
	padding-top: 8px;
}
