.eye-slash {
	background: none;
	border: none;
	position: relative;
	transform: translate(-2.5rem, 3px);
}

.password-eye-box {
	display: flex;
	width: 105%;
}

.input-style2 {
	background: #ffffff;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	width: 100%;
	height: 50px;
}
