.App {
	background-image: url('./assets/Clouds.png');
	background-repeat: no-repeat;
	background-color: #6318af;
	position: absolute;
	left: -7.6%;
	right: -24.74%;
	top: 22.5%;
	bottom: -91.48%;
}

.intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 14px;

	position: absolute;
	width: 235px;
	height: 90px;
	left: 843px;
	top: 425px;
}
