.product-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-top: 125px;
	margin-left: 150px;
}

.breadcrumbs {
	padding: 10px;
}

.product-landing2 {
	height: 548px;
	width: 532px;
	background-color: #ffffff;
	padding: 16px;
	border-radius: 10px;
	margin-bottom: 190px;
}

.send-button {
	width: 495px;
	height: 65px;
	color: #ffffff;
	background-color: #6318af;
	border-radius: 100px;
	border: none;
	filter: drop-shadow(4px 4px 8px (0, 0, 0, 0.15));
	cursor: pointer;
}

.contact-form-container1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 21px;
	height: 100%;
	width: 100%;
}

.message-text-area {
	height: 141px;
	width: 500px;
	border-radius: 4px;
	border: solid #e2e2e2 1px;
	resize: none;
	overflow: scroll;
}

.message-text-area::-webkit-scrollbar {
	display: none;
}

.contact-input {
	height: 51px;
	width: 500px;
	border-radius: 4px;
	border: solid #e2e2e2 1px;
	resize: none;
	overflow: scroll;
}

.contact-input::placeholder {
	color: #4d4d4d;
	opacity: 40%;
}

textarea::placeholder {
	color: #4d4d4d;
	opacity: 40%;
}
