.slider {
	height: 500px;
	width: 90%;
	padding: 20px 16px 20px 16px;
	border-radius: 5px 5px 5px 5px;
	margin: 0;
	background: #ffffff;
	margin-left: 150px;
}

.card-container::-webkit-scrollbar {
	display: none;
}

.card-container {
	overflow: scroll;
	display: flex;
	flex-direction: row;
	gap: 25px;
	height: 425px;
	border-radius: 5px;
}

.info-label {
	filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
	background: #ffffff;
	border-radius: 15px;
	border: none;
	min-height: 375px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom-card-info {
	padding: 0px 10px 25px 10px;
}
